<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="cart">
        <img src=".\assets\slaes.jpg" alt="adveriste" width="70%"  class="center">
      </div>
      <section class="ytname">
      <div>
         <a href="#"><i class="fa fa-bell"></i>Subscribe</a>
      </div>
      </section>
      <section class="ytmenus">
<a href="#">Home</a>
<a href="#">Videos</a>
<a href="#">Playlists</a>
<a href="#">channels</a>
<i class="fa fa-search"></i>
      </section>
      <section class="ytvideo">
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/_GTMOmRrqkU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> 
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/C-EHoNfkoDM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
        </div>
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div> 
             <div>
                <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> 
            <div>
                <iframe width="200" height="115" src="https://www.youtube.com/embed/C-EHoNfkoDM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
            </div>
            <div>
                <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 </div> 
      </section>
      <hr>
      <section class="ytvideo">
        <h2 style="text-align:left; color:black;">Trending</h2>
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/_GTMOmRrqkU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> 
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/C-EHoNfkoDM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
        </div>
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div> 
             <div>
                <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> 
            <div>
                <iframe width="200" height="115" src="https://www.youtube.com/embed/C-EHoNfkoDM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
            </div>
            <div>
                <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 </div> 
      </section>
      <section class="ytvideo">
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/_GTMOmRrqkU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> 
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/C-EHoNfkoDM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
        </div>
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div> 
             <div>
                <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> 
            <div>
                <iframe width="200" height="115" src="https://www.youtube.com/embed/C-EHoNfkoDM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
            </div>
            <div>
                <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 </div> 
      </section>
      <section class="ytvideo">
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/_GTMOmRrqkU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> 
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/C-EHoNfkoDM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
        </div>
        <div>
            <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div> 
             <div>
                <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> 
            <div>
                <iframe width="200" height="115" src="https://www.youtube.com/embed/C-EHoNfkoDM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
            </div>
            <div>
                <iframe width="200" height="115" src="https://www.youtube.com/embed/_8Lia9MVXSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 </div> 
      </section>
</body>
</html>
