<!-- <div>
    <a href="#"><i class="bi bi-music-note" style='font-size:48px;color:blue'></i>Music</a>
    <a href="#"><i class="bi bi-film" style='font-size:48px;color:black'></i>Movies</a>
    <a href="#"><i class='fas fa-baseball-ball' style='font-size:48px;color:red'></i>Sports</a>
    <a href="#"><i class="bi bi-broadcast" style='font-size:48px;color:black'></i>Live</a>
    <a href="#"><i class="bi bi-newspaper" style='font-size:48px;color:green'></i>News</a>
    <a href="#"><i class="fas fa-gamepad" style='font-size:48px;color:black '></i>Gaming</a>
</div> -->
