      <nav class="nav2">
        <i class="fa fa-bars" id="menubar"></i>
        <a routerLink="/home" ><i class="fa fa-Home"></i><br>Home</a>
        <a routerLink="/trend" ><i class="fa fa-fire" aria-hidden="true"></i><br>Trending</a>
        <a routerLink="/subscription" ><i class="fa fa-eject" aria-hidden="true"></i><br>subscription</a>
        <a  routerLink="/libary"><i class="fa fa-video-camera" aria-hidden="true"></i><br>Libary</a> 
       </nav>
       <div>
        <app-navbar></app-navbar>
        <app-adversite></app-adversite> 
       </div>

